.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #ffffff;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

html{
  scroll-behavior: smooth;
  
  
}
.w3-black{
  background-color: #ffffff !important;
}

.w3-black, .w3-hover-black:hover {
  color: #000000 !important; 
  background-color: #ffffff !important;
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
.w3-jumbo{
  font-family: "Bebas Neue",  cursive;
}
.jumbo-subtext{
  font-family: "Ubuntu", sans-serif;
  font-size: 125%;
}

.w3-image{
  width: 50%;
  height: 50%;
  border-radius: 100px;
}
.subheadings{
  font-family: "Ubuntu", sans-serif;
  text-decoration: underline;
}
#about{
  background-color: #5ce1e6;
  width: auto;
  padding: 5%;
  align-items: center;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
}

.w3-padding-16 {
  font-size: 325%;
  padding-bottom: -15px;
}

#aboutmetitle{
  font-size: 400%;
  margin-bottom: 0px;
}

#linespacer{
  margin-top: 0px;
}
#noitalic{
  font-style: italic;
  font-weight: bold;
}

#MANNY{
color: #5ce1e6;
}
.w3-image{
  padding: inherit;
  align-self: center;
}

.w3-text-light-grey{
  font-family: "Bebas Neue";
}

.addressln{
text-indent: 4.4em;
}

#languagelist{
  padding-top: -10%;
}

.w3-section{
  margin: auto;
  padding: auto;
}

#instagramlink{
  padding-right: 10px;
}

#igicon{
  color: #000000;
}

#linkedin{
  color: #000000;
}

#mediumicon{
  color: #000000;
}

#dribbbleicon{
  color: #000000;
}

#phone{
  color: #000000;
}

#email{
  color: #000000;
}

#linkedinlink{
  padding-right: 10px;
}

#twitterlink{
  padding-right: 10px;
}

#mediumlink{
  padding-right: 10px;
}

* {
    box-sizing: border-box;
  }
  
  body {
    animation: fadeInAnimation ease 3s !important;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Ubuntu;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }

  h3 {
    
    color: black;

  }
  
  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }